# Time Series in Pandas

In [105]:
import pandas as pd

In [106]:
# 2018 Stock data
stock = pd.read_csv('data/stock.csv')
stock.head()

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039

## Timestamp
Timestamp is the pandas equivalent of python's Datetime and is interchangeable with it in most cases. It's the type used for the entries that make up a DatetimeIndex, and other timeseries oriented data structures in pandas.
* **pd.Timestamp(input)**: convert inputs(datetime-like, str, int, float) into `Timestamp` object  -->  not Series, 딱 한시점의 값
* **pd.to_datetime(series)**: convert DatetimeScalar, list, tuple, arrayLike and series into `datetime64`
* **pd.date_time(start, end, periods)**: create `DatetimeIndex` <br><br>
* **PeriodIndex.to_timestamp()**: convert  `PeriodIndex` into `DatetimeIndex`
* **PeriodSeries.dt.to_timestamp()**: convert dtype:`period` Series into dtype:`datetime` Series <br><br>
* **AnySeries.astype('str').astype('datetime64')**: should go through `str` type, or cast error

In [107]:
# Timestamp cannot convert Series or DataFrame.
pd.Timestamp(2021, 7, 9, 8)

Timestamp('2021-07-09 08:00:00')

In [108]:
# to_datetime can convert Series
stock['new_Date'] = pd.to_datetime(stock['Date'])            
stock.info()                     # Date: object -> New_Date: datetime64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20 non-null     object
 1   Close     20 non-null     int64
 2   Start     20 non-null     int64
 3   High      20 non-null     int64
 4   Low       20 non-null     int64
 5   Volume    20 non-null     int64
 6   new_Date  20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.2+ KB

In [109]:
stock.loc[0, 'new_Date']

Timestamp('2018-07-02 00:00:00')

> "new_Date" Column or Series has `datetime64` dtype, whileas each element extracted in the Series has `Timestamp` type.

In [110]:
dt = pd.to_datetime(['2019-01-01', '2020-03-31', '2021-02-28'])    # list -> DatetimeIndex
dt

DatetimeIndex(['2019-01-01', '2020-03-31', '2021-02-28'], dtype='datetime64[ns]', freq=None)

In [111]:
type(dt[0])           # Timestamp

pandas._libs.tslibs.timestamps.Timestamp

In [112]:
# date_range로 DatetimeIndex 만들기
pd.date_range(start='2021-07-21', periods=3, freq='3M', tz='Asia/Seoul')        # 3개월 간격, 달의 말일 기준

DatetimeIndex(['2021-07-31 00:00:00+09:00', '2021-10-31 00:00:00+09:00',
               '2022-01-31 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='3M')

In [113]:
ts = pd.date_range(end='2021-07-21', periods=3, freq='MS', tz='Asia/Seoul', name='timestamp_1')        # 1달 간격, 달의 시작일 기준
ts

DatetimeIndex(['2021-05-01 00:00:00+09:00', '2021-06-01 00:00:00+09:00',
               '2021-07-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', name='timestamp_1', freq='MS')

In [114]:
ts[0]          # 개별 시각은 type: Timestamp

Timestamp('2021-05-01 00:00:00+0900', tz='Asia/Seoul', freq='MS')

### Benefit of Converting into Timestamp

#### Indexing/Slicing
If `datetime` dtype is set as dataframe index, it is **easy to index/slice a certain timeframe**.

In [115]:
stock.set_index('new_Date', inplace=True)

In [116]:
stock.head()

                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039

In [117]:
stock.index    # DatetimeIndex

DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
               '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
              dtype='datetime64[ns]', name='new_Date', freq=None)

In [118]:
type(stock.index[0])      # Timestamp

pandas._libs.tslibs.timestamps.Timestamp

> In index position, the series became `DatetimeIndex` with `datetime64` dtypes in it. Each element is still `Timestamp` type.

In [119]:
# Indexing
stock['2018']

C:\Users\sori-\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039
2018-06-25  2018-06-25  11150  11400  11450  11000   55519
2018-06-22  2018-06-22  11300  11250  11450  10750  134805
2018-06-21  2018-06-21  11200  11350  11750  11200  133002
2018-06-20  2018-06-20  11550  11200  11600  10900  308596
2018-06-19  2018-06-19  11300  11850  11950  11300  180656
2018-06-18  2018-06-18  12000  13400  13400  12000  309787
2018-06-15  2018-06-15  13400  13600  13600  12900  201376
2018-06-14  2018-06-14  13450  13200  13700  13150  347451
2018-06-12  2018-06-12  13200  12200  13300  12050  558148
2018-06-11  2018-06-11  11950  12000  12250  11950   62293
2018-06-08  2018-06-08  11950  11950  12200  11800   59258
2018-06-07  2018-06-07  11950  12200  12300  11900   49088
2018-06-05  2018-06-05  12150  11800  12250  11800   42485
2018-06-04  2018-06-04  11900  11900  12200  11700   25171
2018-06-01  2018-06-01  11900  11800  12100  11750   32062

In [120]:
stock['2018-07']

C:\Users\sori-\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977

In [121]:
stock['2018-06-25']

C:\Users\sori-\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

                  Date  Close  Start   High    Low  Volume
new_Date
2018-06-25  2018-06-25  11150  11400  11450  11000   55519

In [122]:
# Slicing
stock['2018-06-05':'2018-06-01']           # Index is descending order

                  Date  Close  Start   High    Low  Volume
new_Date
2018-06-05  2018-06-05  12150  11800  12250  11800   42485
2018-06-04  2018-06-04  11900  11900  12200  11700   25171
2018-06-01  2018-06-01  11900  11800  12100  11750   32062

In [123]:
stock.loc['2018-06-25', 'High':'Low']

             High    Low
new_Date
2018-06-25  11450  11000

> As mentioned in warning message, direct indexing/slicing with `df[column]` will be deprecated. Use `df.loc[]` method instead.

#### Extracting Year, Month and Day
By accessor `dt` to datetime-like properties of the Series values, can extract only year, month or day information.
* `DatetimeIndex` cannot call `dt`. Only series with dtype:`datetime` can call the attribute.

In [124]:
# Reset index into dataframe
stock.reset_index(inplace=True)

In [125]:
stock['new_Date'].dt.year
stock['new_Date'].dt.month
stock['new_Date'].dt.day

0      2
1     29
2     28
3     27
4     26
5     25
6     22
7     21
8     20
9     19
10    18
11    15
12    14
13    12
14    11
15     8
16     7
17     5
18     4
19     1
Name: new_Date, dtype: int64

In [126]:
# Can access time information even though it is not seen in the original series
stock['new_Date'].dt.minute

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: new_Date, dtype: int64

---
---

## Peried
* **pd.Period()**: convert input objects(period, str, integer or datetime) into `Period` object  -->  not Series, 딱 한 기간의 값
* **pd.period_range(start, end, periods)**: create `PeriodIndex` <br><br>
* **DatetimeIndex.to_datetime(freq)**: convert `DatetimeIndex` into `PeriodIndex` object 
* **DatetimeSeries.dt.to_datetime(freq)**: convert dtype:`datetime` Series into dtype:`period` Series <br><br>
* **AnySeries.astype('str').astype('period[D]')**: should go thorugh `str` type, or cast error

In [127]:
pd.Period('2009-02-05')

Period('2009-02-05', 'D')

In [128]:
p = pd.Period('3Q2021')
p

Period('2021Q3', 'Q-DEC')

In [129]:
print('day: ', p.day)          # 왜 30일???????????????????????????????????//
print('day of week: ', p.dayofweek)
print('day of year: ', p.dayofyear)
print('hour: ', p.hour)
print('start time: ', p.start_time)
print('qyear: ', p.qyear)    # fiscal year

day:  30
day of week:  3
day of year:  273
hour:  0
start time:  2021-07-01 00:00:00
qyear:  2021

In [130]:
# Timestamp로 전환
p.to_timestamp()

Timestamp('2021-07-01 00:00:00')

In [131]:
# Timestamp 만들기
stock = pd.read_csv('data/stock.csv')
stock['new_Date'] = pd.to_datetime(stock['Date'])
stock['new_Date'].head()

0   2018-07-02
1   2018-06-29
2   2018-06-28
3   2018-06-27
4   2018-06-26
Name: new_Date, dtype: datetime64[ns]

In [132]:
# 1. Timestamp -> Period로 만들기
df = stock.set_index('new_Date')           # DatetimeIndex여야 period로 바꿀 수 있다
df.index.to_period('M')                    # DatetimeIndex -> PeriedIndex

PeriodIndex(['2018-07', '2018-06', '2018-06', '2018-06', '2018-06', '2018-06',
             '2018-06', '2018-06', '2018-06', '2018-06', '2018-06', '2018-06',
             '2018-06', '2018-06', '2018-06', '2018-06', '2018-06', '2018-06',
             '2018-06', '2018-06'],
            dtype='period[M]', name='new_Date', freq='M')

In [133]:
# 2. Series의 datatime 속성에 접근(dt)해서 peried로 만들기
stock['new_Date'] = stock['new_Date'].dt.to_period('D')          # dytpe: period
stock

          Date  Close  Start   High    Low  Volume    new_Date
0   2018-07-02  10100  10850  10900  10000  137977  2018-07-02
1   2018-06-29  10700  10550  10900   9990  170253  2018-06-29
2   2018-06-28  10400  10900  10950  10150  155769  2018-06-28
3   2018-06-27  10900  10800  11050  10500  133548  2018-06-27
4   2018-06-26  10800  10900  11000  10700   63039  2018-06-26
5   2018-06-25  11150  11400  11450  11000   55519  2018-06-25
6   2018-06-22  11300  11250  11450  10750  134805  2018-06-22
7   2018-06-21  11200  11350  11750  11200  133002  2018-06-21
8   2018-06-20  11550  11200  11600  10900  308596  2018-06-20
9   2018-06-19  11300  11850  11950  11300  180656  2018-06-19
10  2018-06-18  12000  13400  13400  12000  309787  2018-06-18
11  2018-06-15  13400  13600  13600  12900  201376  2018-06-15
12  2018-06-14  13450  13200  13700  13150  347451  2018-06-14
13  2018-06-12  13200  12200  13300  12050  558148  2018-06-12
14  2018-06-11  11950  12000  12250  11950   62293  2018-06-11
15  2018-06-08  11950  11950  12200  11800   59258  2018-06-08
16  2018-06-07  11950  12200  12300  11900   49088  2018-06-07
17  2018-06-05  12150  11800  12250  11800   42485  2018-06-05
18  2018-06-04  11900  11900  12200  11700   25171  2018-06-04
19  2018-06-01  11900  11800  12100  11750   32062  2018-06-01

In [134]:
stock.dtypes

Date           object
Close           int64
Start           int64
High            int64
Low             int64
Volume          int64
new_Date    period[D]
dtype: object

In [135]:
type(stock['new_Date'][0])     # Peried object

pandas._libs.tslibs.period.Period

In [136]:
# Peried Series를 index로 만든다면?
df2  = stock.set_index('new_Date')
df2.index                            # PeriodIndex

PeriodIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
             '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
             '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
             '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
             '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
            dtype='period[D]', name='new_Date', freq='D')

In [137]:
df2.T.columns

PeriodIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
             '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
             '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
             '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
             '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
            dtype='period[D]', name='new_Date', freq='D')

> If a series with dtype:`datetime` is set as index, the series becomes `DatetimeIndex`, while a series with dtype:`period` becomes `PeriedIndex`.

In [138]:
# period_range 이용해서 PeriodIndex 만들기
pr = pd.period_range(start='2021-07-12', periods=3, freq='M', name='period_1e')
pr

PeriodIndex(['2021-07', '2021-08', '2021-09'], dtype='period[M]', name='period_1e', freq='M')

In [139]:
pr[0]              # 개별 기간의 type: Period

Period('2021-07', 'M')

In [140]:
# start(left bound)가 7월중인데 결과값 '2021-07'의 시작일은 어떻게 설정되어 있을까?
pr[0].start_time, pr[0].end_time

(Timestamp('2021-07-01 00:00:00'), Timestamp('2021-07-31 23:59:59.999999999'))

### Convert to Timestamp

In [141]:
# 다시 Timestamp로 바꾸기 - PeriodIndex여야 함
# 1. PeriedIndex -> DatetimeIndex
df2.index = df2.index.to_timestamp()
df2.index

DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
               '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
              dtype='datetime64[ns]', name='new_Date', freq=None)

In [142]:
df2.T.columns

DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
               '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
              dtype='datetime64[ns]', name='new_Date', freq=None)

In [143]:
# 2. dt로 속성에 접근하여 timestamp로 만들기
stock['ts_Date'] = stock['new_Date'].dt.to_timestamp()
stock['ts_Date']

0    2018-07-02
1    2018-06-29
2    2018-06-28
3    2018-06-27
4    2018-06-26
5    2018-06-25
6    2018-06-22
7    2018-06-21
8    2018-06-20
9    2018-06-19
10   2018-06-18
11   2018-06-15
12   2018-06-14
13   2018-06-12
14   2018-06-11
15   2018-06-08
16   2018-06-07
17   2018-06-05
18   2018-06-04
19   2018-06-01
Name: ts_Date, dtype: datetime64[ns]

In [144]:
# Timestamp인 sereis를 index로 설정하면?
stock.set_index('ts_Date').index          # DatetimeIndex

DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
               '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
              dtype='datetime64[ns]', name='ts_Date', freq=None)

### Benefit of Converting into Timestamp

#### Indexing/Slicing

In [145]:
df3 = stock.set_index('new_Date')
df3.index

PeriodIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
             '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
             '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
             '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
             '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
            dtype='period[D]', name='new_Date', freq='D')

In [146]:
df3['2018-06-30':'2018-06-25']                # 날짜가 역순으로 배치되어 있음!

                  Date  Close  Start   High    Low  Volume    ts_Date
new_Date
2018-06-29  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2018-06-28  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
2018-06-27  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
2018-06-26  2018-06-26  10800  10900  11000  10700   63039 2018-06-26
2018-06-25  2018-06-25  11150  11400  11450  11000   55519 2018-06-25

In [147]:
df3['2018-07']

C:\Users\sori-\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

                  Date  Close  Start   High    Low  Volume    ts_Date
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977 2018-07-02

In [148]:
df3['2018-07-02']         # 이유 모르겠는데 이건 안됨......

KeyError: '2018-07-02'

In [149]:
df3.loc['2018-06-05':'2018-06-01']

                  Date  Close  Start   High    Low  Volume    ts_Date
new_Date
2018-06-05  2018-06-05  12150  11800  12250  11800   42485 2018-06-05
2018-06-04  2018-06-04  11900  11900  12200  11700   25171 2018-06-04
2018-06-01  2018-06-01  11900  11800  12100  11750   32062 2018-06-01

In [150]:
# 날짜 역순을 정순으로 정렬
df3.sort_index()

                  Date  Close  Start   High    Low  Volume    ts_Date
new_Date
2018-06-01  2018-06-01  11900  11800  12100  11750   32062 2018-06-01
2018-06-04  2018-06-04  11900  11900  12200  11700   25171 2018-06-04
2018-06-05  2018-06-05  12150  11800  12250  11800   42485 2018-06-05
2018-06-07  2018-06-07  11950  12200  12300  11900   49088 2018-06-07
2018-06-08  2018-06-08  11950  11950  12200  11800   59258 2018-06-08
2018-06-11  2018-06-11  11950  12000  12250  11950   62293 2018-06-11
2018-06-12  2018-06-12  13200  12200  13300  12050  558148 2018-06-12
2018-06-14  2018-06-14  13450  13200  13700  13150  347451 2018-06-14
2018-06-15  2018-06-15  13400  13600  13600  12900  201376 2018-06-15
2018-06-18  2018-06-18  12000  13400  13400  12000  309787 2018-06-18
2018-06-19  2018-06-19  11300  11850  11950  11300  180656 2018-06-19
2018-06-20  2018-06-20  11550  11200  11600  10900  308596 2018-06-20
2018-06-21  2018-06-21  11200  11350  11750  11200  133002 2018-06-21
2018-06-22  2018-06-22  11300  11250  11450  10750  134805 2018-06-22
2018-06-25  2018-06-25  11150  11400  11450  11000   55519 2018-06-25
2018-06-26  2018-06-26  10800  10900  11000  10700   63039 2018-06-26
2018-06-27  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
2018-06-28  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
2018-06-29  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2018-07-02  2018-07-02  10100  10850  10900  10000  137977 2018-07-02

#### Extracting Year, Month and Day
* `PeriodIndex` cannot call `dt`. Only series with dtype:`period` can call the attribute.

In [151]:
stock['new_Date'].dt.year

0     2018
1     2018
2     2018
3     2018
4     2018
5     2018
6     2018
7     2018
8     2018
9     2018
10    2018
11    2018
12    2018
13    2018
14    2018
15    2018
16    2018
17    2018
18    2018
19    2018
Name: new_Date, dtype: int64

In [152]:
stock['new_Date'].dt.hour

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: new_Date, dtype: int64

In [50]:
stock['new_Date'][0].end_time

Timestamp('2018-07-02 23:59:59.999999999')

---

## Timedelta
* **pd.Timedelta()**: convert Timedelta, timedelta, np.timedelta64, str, or int into `Timedelta` --> not Series, 딱 하나의 delta 값
* **Timestamp - Datetime Series = Timedelta**
* **Timestamp - DatetimeIndex = TimedeltaIndex**

In [52]:
pd.Timedelta('3 days')

Timedelta('3 days 00:00:00')

In [55]:
pd.Timedelta(-3, 's')

Timedelta('-1 days +23:59:57')

In [62]:
td = pd.Timedelta(days=1, hours=5, minutes=30)
td

Timedelta('1 days 05:30:00')

In [94]:
# Operation between Timedeltas - multiplication is not supported!
td + td
td - td
td / td

1.0

In [97]:
# Operation with Timestamp - multiplication & division are not supported!
ts = pd.Timestamp('2021/7/12') 
ts + td, ts - td

(Timestamp('2021-07-13 05:30:00'), Timestamp('2021-07-10 18:30:00'))

In [99]:
# Operation with Period - Period itself cannot compute with Timedelta, should be converted to Timestamp
pr = pd.Period('2021/7/12', freq='M')
pr.start_time + td, pr.end_time - td

(Timestamp('2021-07-02 05:30:00'), Timestamp('2021-07-30 18:29:59.999999999'))

### Benefit of Timedelta
#### Indexing/Slicing

In [179]:
# Time difference between today and a certain time
today = pd.Timestamp('2021-07-12')
today

Timestamp('2021-07-12 00:00:00')

In [183]:
stock.head()

         Date  Close  Start   High    Low  Volume    new_Date    ts_Date
0  2018-07-02  10100  10850  10900  10000  137977  2018-07-02 2018-07-02
1  2018-06-29  10700  10550  10900   9990  170253  2018-06-29 2018-06-29
2  2018-06-28  10400  10900  10950  10150  155769  2018-06-28 2018-06-28
3  2018-06-27  10900  10800  11050  10500  133548  2018-06-27 2018-06-27
4  2018-06-26  10800  10900  11000  10700   63039  2018-06-26 2018-06-26

In [182]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20 non-null     object
 1   Close     20 non-null     int64
 2   Start     20 non-null     int64
 3   High      20 non-null     int64
 4   Low       20 non-null     int64
 5   Volume    20 non-null     int64
 6   new_Date  20 non-null     period[D]
 7   ts_Date   20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1), period[D](1)
memory usage: 1.4+ KB

In [201]:
# Timstamp - Datetime series = Timedelta
stock.index = today - stock['ts_Date']
stock.head()

,Date,Close,Start,High,Low,Volume,new_Date,ts_Date
ts_Date,,,,,,,,
1106 days,2018-07-02,10100,10850,10900,10000,137977,2018-07-02,2018-07-02
1109 days,2018-06-29,10700,10550,10900,9990,170253,2018-06-29,2018-06-29
1110 days,2018-06-28,10400,10900,10950,10150,155769,2018-06-28,2018-06-28
1111 days,2018-06-27,10900,10800,11050,10500,133548,2018-06-27,2018-06-27
1112 days,2018-06-26,10800,10900,11000,10700,63039,2018-06-26,2018-06-26

In [197]:
stock.loc['1111 days']

Date                 2018-06-27
Close                     10900
Start                     10800
High                      11050
Low                       10500
Volume                   133548
new_Date             2018-06-27
ts_Date     2018-06-27 00:00:00
Name: 1111 days 00:00:00, dtype: object

In [198]:
stock['1120 days':'1130 days']

,Date,Close,Start,High,Low,Volume,new_Date,ts_Date
ts_Date,,,,,,,,
1120 days,2018-06-18,12000,13400,13400,12000,309787,2018-06-18,2018-06-18
1123 days,2018-06-15,13400,13600,13600,12900,201376,2018-06-15,2018-06-15
1124 days,2018-06-14,13450,13200,13700,13150,347451,2018-06-14,2018-06-14
1126 days,2018-06-12,13200,12200,13300,12050,558148,2018-06-12,2018-06-12
1127 days,2018-06-11,11950,12000,12250,11950,62293,2018-06-11,2018-06-11
1130 days,2018-06-08,11950,11950,12200,11800,59258,2018-06-08,2018-06-08

> `Timestamp` and `Timedelta` can compute with each other, but not with `Period`. `Timedelta` is set as index, it becomes `TimedeltaIndex`.

In [204]:
# Timestamp - DatetimeIndex = TimedeltaIndex
stock.index = today - stock.set_index('ts_Date').index
stock.head()

,Date,Close,Start,High,Low,Volume,new_Date,ts_Date
ts_Date,,,,,,,,
1106 days,2018-07-02,10100,10850,10900,10000,137977,2018-07-02,2018-07-02
1109 days,2018-06-29,10700,10550,10900,9990,170253,2018-06-29,2018-06-29
1110 days,2018-06-28,10400,10900,10950,10150,155769,2018-06-28,2018-06-28
1111 days,2018-06-27,10900,10800,11050,10500,133548,2018-06-27,2018-06-27
1112 days,2018-06-26,10800,10900,11000,10700,63039,2018-06-26,2018-06-26

In [207]:
stock.iloc[-1]

Date                 2018-06-01
Close                     11900
Start                     11800
High                      12100
Low                       11750
Volume                    32062
new_Date             2018-06-01
ts_Date     2018-06-01 00:00:00
Name: 1137 days 00:00:00, dtype: object

In [212]:
stock['1120 days':'1130 days']

,Date,Close,Start,High,Low,Volume,new_Date,ts_Date
ts_Date,,,,,,,,
1120 days,2018-06-18,12000,13400,13400,12000,309787,2018-06-18,2018-06-18
1123 days,2018-06-15,13400,13600,13600,12900,201376,2018-06-15,2018-06-15
1124 days,2018-06-14,13450,13200,13700,13150,347451,2018-06-14,2018-06-14
1126 days,2018-06-12,13200,12200,13300,12050,558148,2018-06-12,2018-06-12
1127 days,2018-06-11,11950,12000,12250,11950,62293,2018-06-11,2018-06-11
1130 days,2018-06-08,11950,11950,12200,11800,59258,2018-06-08,2018-06-08